.idea/
*.pyc
classpath/antlr-4.5.1-complete.jar
foostache/FoostacheLexer.py
foostache/FoostacheLexer.tokens
foostache/FoostacheParser.py
foostache/FoostacheParser.tokens
foostache/FoostacheParserListener.py
foostache/FoostacheParserVisitor.py
