*.pyc
*/__pycache__/
.tox/
.eggs/
build/
dist/
src/foostache.egg-info/
classpath/
src/foostache/py2parser/*
!src/foostache/py2parser/__init__.py
src/foostache/py3parser/*
!src/foostache/py3parser/__init__.py
